*{
  box-sizing: border-box;
} 

#heading {
  text-align: center;
  margin: 0;
}

.board-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#board {
  /* width: 100%;
  height: 100%; */
  border-style: solid;
  box-sizing: border-box;
} 

ul li{
  list-style-type: none;
  margin: 0 1rem;
}
#constant {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}